[submodule "man"]
	path = man
	url = git@github.com:kammerdienerb/yed-man.git
[submodule "ctags"]
	path = ctags
	url = git@github.com:kammerdienerb/yed-ctags.git
[submodule "style_use_term_bg"]
	path = style_use_term_bg
	url = git@github.com:kammerdienerb/yed-style_use_term_bg.git
[submodule "scroll_buffer"]
	path = scroll_buffer
	url = git@github.com:kammerdienerb/yed-scroll_buffer.git
[submodule "paren_hl"]
	path = paren_hl
	url = git@github.com:kammerdienerb/yed-paren_hl.git
[submodule "comment"]
	path = comment
	url = git@github.com:kammerdienerb/yed-comment.git
[submodule "jump_stack"]
	path = jump_stack
	url = git@github.com:kammerdienerb/yed-jump_stack.git
[submodule "yedrc"]
	path = yedrc
	url = git@github.com:kammerdienerb/yed-yedrc.git
[submodule "shell_run"]
	path = shell_run
	url = git@github.com:kammerdienerb/yed-shell_run.git
[submodule "grep"]
	path = grep
	url = git@github.com:kammerdienerb/yed-grep.git
[submodule "calc"]
	path = calc
	url = git@github.com:kammerdienerb/yed-calc.git
[submodule "completer"]
	path = completer
	url = git@github.com:kammerdienerb/yed-completer.git
[submodule "lang/tools/latex"]
	path = lang/tools/latex
	url = git@github.com:kammerdienerb/yed-lang-tools-latex.git
[submodule "lang/python"]
	path = lang/python
	url = git@github.com:kammerdienerb/yed-lang-python.git
[submodule "lang/latex"]
	path = lang/latex
	url = git@github.com:kammerdienerb/yed-lang-latex.git
[submodule "lang/yedrc"]
	path = lang/yedrc
	url = git@github.com:kammerdienerb/yed-lang-yedrc.git
[submodule "lang/glsl"]
	path = lang/glsl
	url = git@github.com:kammerdienerb/yed-lang-glsl.git
[submodule "lang/sh"]
	path = lang/sh
	url = git@github.com:kammerdienerb/yed-lang-sh.git
[submodule "lang/cpp"]
	path = lang/cpp
	url = git@github.com:kammerdienerb/yed-lang-cpp.git
[submodule "lang/make"]
	path = lang/make
	url = git@github.com:kammerdienerb/yed-lang-make.git
[submodule "lang/syntax/python"]
	path = lang/syntax/python
	url = git@github.com:kammerdienerb/yed-lang-syntax-python.git
[submodule "lang/syntax/latex"]
	path = lang/syntax/latex
	url = git@github.com:kammerdienerb/yed-lang-syntax-latex.git
[submodule "lang/syntax/yedrc"]
	path = lang/syntax/yedrc
	url = git@github.com:kammerdienerb/yed-lang-syntax-yedrc.git
[submodule "lang/syntax/glsl"]
	path = lang/syntax/glsl
	url = git@github.com:kammerdienerb/yed-lang-syntax-glsl.git
[submodule "lang/syntax/sh"]
	path = lang/syntax/sh
	url = git@github.com:kammerdienerb/yed-lang-syntax-sh.git
[submodule "lang/syntax/cpp"]
	path = lang/syntax/cpp
	url = git@github.com:kammerdienerb/yed-lang-syntax-cpp.git
[submodule "lang/syntax/jgraph"]
	path = lang/syntax/jgraph
	url = git@github.com:kammerdienerb/yed-lang-syntax-jgraph.git
[submodule "lang/syntax/conf"]
	path = lang/syntax/conf
	url = git@github.com:kammerdienerb/yed-lang-syntax-conf.git
[submodule "lang/syntax/c"]
	path = lang/syntax/c
	url = git@github.com:kammerdienerb/yed-lang-syntax-c.git
[submodule "lang/jgraph"]
	path = lang/jgraph
	url = git@github.com:kammerdienerb/yed-lang-jgraph.git
[submodule "lang/conf"]
	path = lang/conf
	url = git@github.com:kammerdienerb/yed-lang-conf.git
[submodule "lang/c"]
	path = lang/c
	url = git@github.com:kammerdienerb/yed-lang-c.git
[submodule "styles/vt"]
	path = styles/vt
	url = git@github.com:kammerdienerb/yed-style-vt.git
[submodule "styles/forest"]
	path = styles/forest
	url = git@github.com:kammerdienerb/yed-style-forest.git
[submodule "styles/moss"]
	path = styles/moss
	url = git@github.com:kammerdienerb/yed-style-moss.git
[submodule "styles/elly"]
	path = styles/elly
	url = git@github.com:kammerdienerb/yed-style-elly.git
[submodule "styles/embark"]
	path = styles/embark
	url = git@github.com:kammerdienerb/yed-style-embark.git
[submodule "styles/river"]
	path = styles/river
	url = git@github.com:kammerdienerb/yed-style-river.git
[submodule "styles/doug"]
	path = styles/doug
	url = git@github.com:kammerdienerb/yed-style-doug.git
[submodule "styles/blue"]
	path = styles/blue
	url = git@github.com:kammerdienerb/yed-style-blue.git
[submodule "styles/acme"]
	path = styles/acme
	url = git@github.com:kammerdienerb/yed-style-acme.git
[submodule "styles/disco"]
	path = styles/disco
	url = git@github.com:kammerdienerb/yed-style-disco.git
[submodule "styles/first"]
	path = styles/first
	url = git@github.com:kammerdienerb/yed-style-first.git
[submodule "styles/mordechai"]
	path = styles/mordechai
	url = git@github.com:kammerdienerb/yed-style-mordechai.git
[submodule "styles/skyfall"]
	path = styles/skyfall
	url = git@github.com:kammerdienerb/yed-style-skyfall.git
[submodule "styles/lab"]
	path = styles/lab
	url = git@github.com:kammerdienerb/yed-style-lab.git
[submodule "styles/dracula"]
	path = styles/dracula
	url = git@github.com:kammerdienerb/yed-style-dracula.git
[submodule "styles/solarized"]
	path = styles/solarized
	url = git@github.com:kammerdienerb/yed-style-solarized.git
[submodule "styles/tempus_future"]
	path = styles/tempus_future
	url = git@github.com:kammerdienerb/yed-style-tempus_future.git
[submodule "styles/drift"]
	path = styles/drift
	url = git@github.com:kammerdienerb/yed-style-drift.git
[submodule "styles/nord"]
	path = styles/nord
	url = git@github.com:kammerdienerb/yed-style-nord.git
[submodule "styles/vt_light"]
	path = styles/vt_light
	url = git@github.com:kammerdienerb/yed-style-vt_light.git
[submodule "styles/cadet"]
	path = styles/cadet
	url = git@github.com:kammerdienerb/yed-style-cadet.git
[submodule "styles/sammy"]
	path = styles/sammy
	url = git@github.com:kammerdienerb/yed-style-sammy.git
[submodule "styles/elise"]
	path = styles/elise
	url = git@github.com:kammerdienerb/yed-style-elise.git
[submodule "styles/mrjantz"]
	path = styles/mrjantz
	url = git@github.com:kammerdienerb/yed-style-mrjantz.git
[submodule "styles/bullet"]
	path = styles/bullet
	url = git@github.com:kammerdienerb/yed-style-bullet.git
[submodule "styles/bold"]
	path = styles/bold
	url = git@github.com:kammerdienerb/yed-style-bold.git
[submodule "styles/book"]
	path = styles/book
	url = git@github.com:kammerdienerb/yed-style-book.git
[submodule "styles/hat"]
	path = styles/hat
	url = git@github.com:kammerdienerb/yed-style-hat.git
[submodule "styles/olive"]
	path = styles/olive
	url = git@github.com:kammerdienerb/yed-style-olive.git
[submodule "styles/gruvbox"]
	path = styles/gruvbox
	url = git@github.com:kammerdienerb/yed-style-gruvbox.git
[submodule "styles/dalton"]
	path = styles/dalton
	url = git@github.com:kammerdienerb/yed-style-dalton.git
[submodule "styles/papercolor"]
	path = styles/papercolor
	url = git@github.com:kammerdienerb/yed-style-papercolor.git
[submodule "styles/casey"]
	path = styles/casey
	url = git@github.com:kammerdienerb/yed-style-casey.git
[submodule "styles/monokai"]
	path = styles/monokai
	url = git@github.com:kammerdienerb/yed-style-monokai.git
[submodule "styles/humanoid"]
	path = styles/humanoid
	url = git@github.com:kammerdienerb/yed-style-humanoid.git
[submodule "align"]
	path = align
	url = git@github.com:kammerdienerb/yed-align.git
[submodule "style_picker"]
	path = style_picker
	url = git@github.com:kammerdienerb/yed-style_picker.git
[submodule "macro"]
	path = macro
	url = git@github.com:kammerdienerb/yed-macro.git
[submodule "profile"]
	path = profile
	url = git@github.com:kammerdienerb/yed-profile.git
[submodule "brace_hl"]
	path = brace_hl
	url = git@github.com:kammerdienerb/yed-brace_hl.git
[submodule "find_file"]
	path = find_file
	url = git@github.com:kammerdienerb/yed-find_file.git
[submodule "log_hl"]
	path = log_hl
	url = git@github.com:kammerdienerb/yed-log_hl.git
[submodule "indent_c"]
	path = indent_c
	url = git@github.com:kammerdienerb/yed-indent_c.git
[submodule "autotrim"]
	path = autotrim
	url = git@github.com:kammerdienerb/yed-autotrim.git
[submodule "line_numbers"]
	path = line_numbers
	url = git@github.com:kammerdienerb/yed-line_numbers.git
[submodule "builder"]
	path = builder
	url = git@github.com:kammerdienerb/yed-builder.git
[submodule "style_pack"]
	path = style_pack
	url = git@github.com:kammerdienerb/yed-style_pack.git
[submodule "status_bar_clock"]
	path = status_bar_clock
	url = git@github.com:kammerdienerb/yed-status_bar_clock.git
[submodule "vimish"]
	path = vimish
	url = git@github.com:kammerdienerb/yed-vimish.git
[submodule "cursor_word_hl"]
	path = cursor_word_hl
	url = git@github.com:kammerdienerb/yed-cursor_word_hl.git
[submodule "hook"]
	path = hook
	url = git@github.com:kammerdienerb/yed-hook.git
